# ==============================================================================
# ADK 2.0 & CORE LLM CONFIGURATION
# ==============================================================================
GEMINI_API_KEY=your-api-key
DEFAULT_MODEL=gemini-2.5-flash
GOOGLE_CLOUD_PROJECT=your-project-id
GOOGLE_CLOUD_LOCATION=server-location-of-your-project   # e.g. us-central1

# ==============================================================================
# BIGQUERY MCP SERVER CONFIGURATION
# ==============================================================================
BIGQUERY_PROJECT_ID=your-project-id
BIGQUERY_DATASET_ID=name-of-dataset
BIGQUERY_LOCATION=server-location-of-your-dataset
GOOGLE_APPLICATION_CREDENTIALS=/path/to/your/service-account.json  # as saved on your on local machine

# ==============================================================================
# GOOGLE DOCS MCP SERVER CONFIGURATION
# ==============================================================================
GOOGLE_DOCS_CREDENTIALS_PATH=/path/to/your/oauth-credentials.json  # as saved on your on local machine
TARGET_DRIVE_FOLDER_ID=your-google-drive-folder-id  # stores all generated google docs report



